:root {
	&[data-theme="light"] {
		--color-bg: #faf9f6;
		--color-paper: #36454f;
		--color-text: #222;
		--color-theme-1: #ff3e00;
		--color-theme-2: #676778;
		--column-width: 42rem;
		--column-margin-top: 4rem;
		font-family: var(--font-body);
		color-scheme: light;
		--invert: invert(100%);
	}
}

:root {
	&[data-theme="dark"] {
		--color-bg: #121212;
		--color-paper: #262626;
		--color-text: #eee;
		--color-theme-1: #ff3e00;
		--color-theme-2: #676778;
		--column-width: 42rem;
		--column-margin-top: 4rem;
		font-family: var(--font-body);
		color-scheme: dark;
		--invert: invert(0%);
	}
}

* {
	transition: background-color 0.2s;
	transition: color 0.2s;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	&[data-theme="dark"] {
		color: var(--color-text);
		background-color: var(--color-bg);
	}
}

.main {
	filter: var(--invert);
}

h1,
p {
	color: var(--color-text);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	width: 100vw;
	height: 100vh;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Inconsolata', monospace;
	font-weight: 700;
	color: var(--color-text);
}