@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with ($primary: #ff3e00,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900);

* {
  transition: background-color 0.2s;
  transition: background 0.2s;
  transition: color 0.2s;
}

html,
body {
  &[data-theme="light"] {
    background-color: theme.$surface;
    color: theme.$on-surface;
  }
}

a {
  &[data-theme="light"] {
    color: #40b3ff;
  }
}

a:visited {
  &[data-theme="light"] {
    color: color.scale(#40b3ff, $lightness: -35%);
  }
}